<div class="container-fluid">
<div class="row">
<div class="col">
<div class="container-fluid" id="hero-text">
<h2 id="title">SPEED UP YOUR DREAMS</h2>
<p id="title-p">Make the right choice. Find your dream car, which will give you wings. Make your dream come true and buy beautiful vintage cars.</p>
<a class="btn btn-dark me-2 text-light text-decoration-none" title="Click to buy a car" href="#" role="button">BUY NOW</a>
</div>
</div>
<div class="col" id="car-images">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./images/car.png" class="d-block w-100" alt="old car">
          </div>
          <div class="carousel-item">
            <img src="./images/car1.png" class="d-block w-100" alt="old car">
          </div>
          <div class="carousel-item">
            <img src="./images/car2.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
</div>
</div>
</div>




