<section class="vh-100"  style="background-color:#d5d2d2;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-dark">
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
      
  
            <form action="/account/updatePass" method="post" style="width: 23rem;">
  
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Change Password</h3>
              <%- messages() %>
              <% if (errors) { %>
                <ul class="bad-notice">
                <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
                <% })  %>
                </ul>
                <% } %>
  
                <div class="form-outline mb-4">
                    <input type="password" name="account_password" id="accountPassword" class="form-control form-control-lg" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,16}$" required>
                    <label class="form-label" for="form2Example28">Password</label>
                    <i class='fa fa-eye-slash' id="togglePassword" style="cursor: pointer;"></i>
                    <p style="color: red">8 characters min (16 max); Must have: a number, lowercase letter, capital letter, and non-alphanumeric character.</p>
                  </div>
                <input type="hidden" name="account_id" class="form-control form-control-lg" required value="<%= locals.accountData.account_id %>">
              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-dark btn-block" type="submit">Save Change</button>
              </div>         
  
            </form>
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="/images/car.png"
            alt="Login image" class="w-100" style="margin-top: 10%;">
        </div>
      </div>
    </div>
  </section>
  <script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#accountPassword');
    togglePassword.addEventListener('click', () => {
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      togglePassword.classList.toggle('fa-eye')
      
      togglePassword.classList.toggle('fa-eye-slash')
    })
  
    </script>