
<div class="container-fluid bg-dark p-4">
<h1 class="text-light d-flex justify-content-center">Our Cars</h1>
<p class="text-light d-flex justify-content-center">Driving Dreams, One Car at a Time.</p>
</div>
<section style="background-color: #eee;">

<%- grid %>

</section>


